*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 , h2 {
    font-size: 30px;
    margin-top: auto;
    background-color: palevioletred;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}